**/*.o
lpath
longestpath/brute/brute
longestpath/brute/brute.exe

venv/
__pycache__
.vscode/**
envs/
**/.ipynb_checkpoints/
.DS_Store


.env

.python-version
.conda/
*.log
benchmarks

kalp_files
notebooks/kalp_files